body {
    background: url("/Users/anthony/personal/mywebsite/personal_site/personal_site/assests/images/grey.png");
    /*background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: Raleway;*/
}

.soon{
    margin-top: 20px;
    margin-bottom: 30px;
}

.soon h1 {
    color: #6200ea;
}

.stuff {
    background-image: url("/Users/anthony/personal/mywebsite/personal_site/personal_site/assests/images/robots.png");
    width: 100%;
    height: 30em;
    border-radius: 20px;
    color: white;
}

.stuff h1 {
    color: white
}

