body {
    background: url("./images/grey.png");
    font-family: Raleway;
}

.soon{
    margin-top: 20px;
    margin-bottom: 30px;
}

.soon h1 {
    color: #6200ea;
}

.stuff {
    background-image: url("./images/robots.png");
    width: 100%;
    height: 30em;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.stuff h1 {
    color: white
}
 p_image {
     width: 2px;
     height: 4px;
 }
